{% load i18n %}
{% load static %}

{% include 'includes/header.html' %}

    <body class="">
      
        {% include 'includes/sidenav.html' %}

        <div class="page-wrapper">
            <!-- Top Bar Start -->

            {% include 'includes/top_bar.html' %}
          
            <!-- Top Bar End -->

            <!-- Page Content-->
            

            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">{% trans "Products" %}</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Farmer</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Products</a></li>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary">
                                            <i data-feather="download" class="align-self-center icon-xs"></i>
                                        </a>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h5 class="mt-0">Here the list of all products. <span class="badge badge-pink">6</span></h5>
                                </li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-6 text-end">
                            <div class="text-end">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div class="input-group">                               
                                            <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control form-control-sm" placeholder="Search">
                                            <button type="button" class="btn btn-soft-primary btn-sm"><i class="fas fa-search"></i></button>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-soft-primary btn-sm"><i class="fas fa-filter"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        
                                        <a class=" btn btn-sm btn-soft-primary" href="/product_create" role="button"><i class="fas fa-plus me-2"></i>Add new Product</a>
                                    </li>
                                </ul>
                            </div>                            
                        </div><!--end col-->
                    </div><!--end row-->
                    
                

                    <div class="row">
                        
                        {% for agri_product in agri_products %}
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">                                        
                                    
                                    
                                        <div class="text-center">
                                            
                                            <img src="{{agri_product.category_image_url}}" alt="" class="rounded-circle d-block mx-auto mt-2" height="100">
                                            <h2 class="m-0 fw-semibold text-dark font-16 mt-3">{{agri_product.crop_name}}</h2>   
                                            
                                            <p class="text-muted  mb-0 font-13"><span class="text-dark">Actual Qty : </span>{{agri_product.actual_production}} Kg</p> 
                                            <p class="text-muted  mb-0 font-13"><span class="text-dark">Actual Price : </span>Rs. {{agri_product.cost_per_unit}} per Kg</p> 
                                        </div>                                                    
                                        <div class="row mt-4 d-flex align-items-center">
                                            <div class="col">
                                                <h5 class="font-14 m-0 fw-bold">Projected Quantity: {{agri_product.project_production}} Kg</h5> 
                                                <p class="mb-0 text-muted">Projected Timeline : {{agri_product.project_cost_per_unit}} days</p>
                                            </div>
                                         
                                            <div class="col-auto">
                                                 <a class="btn btn-sm btn-warning" href="/admin_product/{{ agri_product.id }}/edit"> <span class="fa fa-edit"></span> Edit</a>
                                                <a class="btn btn-sm btn-danger" href="/admin_product/{{ agri_product.id }}/delete"><span class="fa fa-trash"></span> Delete</a>
{% comment %}                                                     
                                                <a href="#" class="btn btn-sm btn-outline-secondary  px-4">More Details</a>  {% endcomment %}
                                            </div>
                                        </div>                                                    
                                    
                                                                                                  
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                      
                        {% endfor %}

                        {% block content %}
              
             
                        <ul>
                          {% for product in products %}
                            <li>
                              {{ product.crop_name }} - 
                              <a href="{% url 'product_update' product.pk %}">Edit</a> - 
                              <a href="{% url 'product_delete' product.pk %}">Delete</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endblock %}
                      
                    </div><!--end row-->

                </div><!-- container -->

       
            

        






            <!--page content start-->




           


            {% include 'includes/footer.html' %}  
    
    
            </body>

</html>