
{% load static %}

{% include 'includes/header.html' %}

    <body class="">
      
        {% include 'includes/sidenav.html' %}

        <div class="page-wrapper">
            <!-- Top Bar Start -->

            {% include 'includes/top_bar.html' %}
          
            <!-- Top Bar End -->

            <!-- Page Content-->
            




            {% block content %}
              <h1>Confirm Delete</h1>
              <p>Are you sure you want to delete "{{ product.crop_name }}"?</p>
              <form method="post">
                {% csrf_token %}
                <button type="submit">Yes, delete</button>
                <a href="{% url 'farmer_product_list' %}">Cancel</a>
              </form>
            {% endblock %}
            







            {% include 'includes/footer.html' %}  
    
    
            </body>

</html>