{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    {% load static %}

    
<header>
    
    <div class="language-switcher">
        <form action="{% url 'set_language' %}" method="post" class="flex items-center">
            {% csrf_token %} <!-- Security token  -->
            <input name="next" type="hidden" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            <button type="submit" name="language" value="en">
                <img src="{% static 'assets/images/uk_flag.png' %}" alt="English language" style="width:30px;">
            </button>

        

            <button type="submit" name="language" value="ta">
                <img src="{% static 'assets/images/ta_india.png' %}" alt="à®¤à®®à®¿à®´à¯ à®®à¯Šà®´à®¿" style="width:30px;">
            </button>
        </form>

    </div>
</header>
    <head>
        <meta charset="utf-8" />
        <title>SCAT ERP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

        <!-- jvectormap -->
        <link href="{% static 'plugins/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" type="text/css" />

        <!-- App css -->


        <link href="{% static 'plugins/datatables/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/datatables/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
                
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    </head>
    