{% load i18n %}
{% load static %}

{% include 'farmer/includes/header.html' %}

    <body class="">
      
        {% include 'farmer/includes/sidenav.html' %}

        <div class="page-wrapper">
            <!-- Top Bar Start -->

            {% include 'farmer/includes/top_bar.html' %}
          
            <!-- Top Bar End -->

            <!-- Page Content-->
          
            <style>
                .success {
                    color: green;
                    font-weight: bold;
                }
                .message {
                    padding: 10px;
                    margin: 10px 0;
                    border-radius: 5px;
                    background-color: #e6ffe6;
                }
            </style>


            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Farmer Dashboard</h4>
                                        <ol class="breadcrumb">
                                            
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Farmers</a></li>
                                            <li class="breadcrumb-item active">Farmers List</li>
                                        </ol>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary">
                                            <i data-feather="download" class="align-self-center icon-xs"></i>
                                        </a>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
    
                    
            <div>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                          <li class="message success">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

    
                    {% block content %}
                    <h1>{% trans "Product List" %}</h1>
                   
                    <ul>
                      {% for product in products %}
                        <li>
                          {{ product.crop_name }} - 
                          <a href="{% url 'product_update' product.pk %}">{% trans "Edit" %}</a> - 
                          <a href="{% url 'product_delete' product.pk %}">{% trans "Delete" %}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endblock %}
                  
      
      
      
                  <div class="row">
                      <div class="col-12">
                          <div class="tab-content" id="pills-tabContent">
                              <div  id="Profile_Product" role="tabpanel" aria-labelledby="Profile_Product_tab">
                                  <div class="row mb-4">
                                      <div class="col">
                                          <form>
                                              <div class="input-group">                               
                                                  <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                                  <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                              </div>                                                
                                          </form>                                            
                                      </div><!--end col-->
                                      <div class="col-auto">
                                          <button type="button" class="btn btn-primary"><i class="fas fa-filter"></i></button>
                                          <button type="button" class="btn btn-primary"><a href="/farmer/product_create/">{% trans "Add Product" %}</a></button>                                                                                        
                                      </div><!--end col-->                                        
                                  </div><!--end row-->
      
      
                                  <div class="row">
                                      
      
      
                                      {% for agri_product in agri_products %}
                                      {% comment %} <tr>
                                          <td>{{ agri_product.crop_name }}</td>
                                          <td>{{ agri_product.crop_name }}</td>
                                       
                                          <td><a href="{% url 'category_edit' agri_product.id %}">Edit</a></td>
                                          <td><a href="{% url 'category_delete' agri_product.id %}">Delete</a></td>
                                        
                                        
                                      </tr> {% endcomment %}
      
                                      <div class="col-3">
                                          <div class="card">
                                              <div class="card-body ">
                                                  <div class="text-center">
                                                      
                                                      <img src="{{agri_product.category_image_url}}" alt="" class="rounded-circle d-block mx-auto mt-2" height="100">
                                                      <h2 class="m-0 fw-semibold text-dark font-16 mt-3">{{agri_product.crop_name}}</h2>   
                                                      
                                                      <p class="text-muted  mb-0 font-13"><span class="text-dark">Actual Qty : </span>{{agri_product.actual_production}} Kg</p> 
                                                      <p class="text-muted  mb-0 font-13"><span class="text-dark">Actual Price : </span>Rs. {{agri_product.cost_per_unit}} per Kg</p> 
                                                  </div>                                                    
                                                  <div class="row mt-4 d-flex align-items-center">
                                                      <div class="col">
                                                          <h5 class="font-14 m-0 fw-bold">Projected Quantity: {{agri_product.project_production}} Kg</h5> 
                                                          <p class="mb-0 text-muted">Projected Timeline : {{agri_product.project_cost_per_unit}} days</p>
                                                      </div>
                                                   
                                                      <div class="col-auto">
                                                           <a class="btn btn-sm btn-warning" href="/farmer/product/{{ agri_product.id }}/edit"> <span class="fa fa-edit"></span> Edit</a>
                                                          <a class="btn btn-sm btn-danger" href="/farmer/product/{{ agri_product.id }}/delete"><span class="fa fa-trash"></span> Delete</a>
      {% comment %}                                                     
                                                          <a href="#" class="btn btn-sm btn-outline-secondary  px-4">More Details</a>  {% endcomment %}
                                                      </div>
                                                  </div>                                                    
                                              </div><!--end card-body-->          
                                          </div> <!--end card-->    
                                      </div>
                                    {% endfor %}
      
                               
                                     <!--end col-->
      
                                        
                                  </div><!--end row--> 
      
      
      
                                <!--end row-->                                   
                              </div><!--end tab-pane-->
                             <!--end tab-pane-->
      
                          
      
                         <!-- end row -->
                  

            

                </div><!-- container -->

              





            <!--page content start-->





            {% include 'farmer/includes/footer.html' %}  
    
    
            </body>

</html>