
{% load static %}

{% include 'farmer/includes/header.html' %}

    <body class="">
      
        {% include 'farmer/includes/sidenav.html' %}

        <div class="page-wrapper">
            <!-- Top Bar Start -->

            {% include 'farmer/includes/top_bar.html' %}
          
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div  id="Profile_Projection" role="tabpanel" aria-labelledby="portfolio_detail_tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="ribbon4 rib4-primary">
                                    <span class="ribbon4-band ribbon4-band-primary text-white text-center">50% off</span>                                        
                                </div><!--end ribbon-->  
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/dastyle.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Dastyle - Admin & Dashboard Template</p>
                                        <p class="text-muted">Dastyle is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->  
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->  
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                                 
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/metrica.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Metrica - Admin & Dashboard Template</p>
                                        <p class="text-muted">Metrica is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->        
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->                                  
                </div>  <!--end row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                                    
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/crovex.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Crovex - Admin & Dashboard Template</p>
                                        <p class="text-muted">Crovex is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->   
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                                    
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/frogetor.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Frogetor - Admin & Dashboard Template</p>
                                        <p class="text-muted">Frogetor is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->    
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->                                 
                </div>  <!--end row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                                 
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/metrica.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Metrica - Admin & Dashboard Template</p>
                                        <p class="text-muted">Metrica is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->       
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                    
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/dastyle.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Dastyle - Admin & Dashboard Template</p>
                                        <p class="text-muted">Dastyle is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->   
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->                                 
                </div>  <!--end row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                              
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/frogetor.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Frogetor - Admin & Dashboard Template</p>
                                        <p class="text-muted">Frogetor is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->  
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col--> 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">                               
                                <div class="row">
                                    <div class="col-auto">
                                        <img src="assets/images/dashboards/crovex.jpg" alt="user" height="150" class="align-self-center mb-3 mb-lg-0">
                                    </div><!--end col-->
                                    <div class="col align-self-center">
                                        <p class="font-18 fw-semibold mb-2">Crovex - Admin & Dashboard Template</p>
                                        <p class="text-muted">Crovex is a Bootstrap 4 admin dashboard, 
                                            It is fully responsive and included awesome 
                                            features to help build web applications fast and easy.
                                        </p>
                                        <a href="#" class="btn btn-soft-primary btn-sm">Live Priview</a> 
                                        <a href="#" class="btn btn-soft-primary btn-sm">Download Now</a> 
                                    </div><!--end col-->
                                </div> <!--end row-->   
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->                                  
                </div>  <!--end row-->
            </div>
            
            
            <!--end tab-pane-->

                    

                   <!-- end row -->

       




            <!--page content start-->





            {% include 'farmer/includes/footer.html' %}  
    
    
            </body>

</html>